@{
    ViewData["Title"] = "Customer Profile";
}
@model Hive_IT.Models.Customers.AddEditPhoneViewModel

<div class="clearfix">
    <br />
    <a class="btn btn-primary pull-left" asp-action="List">
        <span class="glyphicon glyphicon-arrow-left"></span> Return To List
    </a>
</div>

<div class="customer-profile">
    <div class="panel customer-heading-panel text-center">
        <div class=" panel-heading">
            <h2>@Model.Given @Model.Surname</h2>
        </div>
        <div class="panel-footer">Created: @Model.Creation.ToString("D")</div>
    </div>

    <ul class="list-group col-xs-6 clearfix" id="customer-phone-list">
        <li class="list-group-item clearfix">
            Phonenumbers:
        </li>
        @foreach (var phone in Model.Phones)
        {
            if(phone.PhoneId == Model.AlterPhone.PhoneId)
            {
                @Html.Partial("_EditPhone", phone)
            }
            else
            {
                @Html.Partial("_ViewPhone", phone)
            }
        }
    </ul>

    <ul class="list-group col-xs-6 clearfix" id="customer-email-list">
        <li class="list-group-item clearfix">
            Email Addresses:
        </li>
        @foreach (var email in Model.Emails)
        {            
            @Html.Partial("_ViewEmail", email)            
        }
    </ul>

    <ul class="list-group col-xs-12 clearfix" id="customer-address-list">
        <li class="list-group-item clearfix">
            Mailing Addresses:
        </li>
        @foreach (var address in Model.Addresses)
        {
            @Html.Partial("_ViewAddress", address)
        }
    </ul>

    <div>
        <br /><br />
    </div>
</div>
