@{
    ViewData["Title"] = "Customer Profile";
}
@model Hive_IT.Models.Customers.AddEditEmailViewModel

<div><br /></div>
<div class="panel panel-info text-center">
    <div class=" panel-heading">
        <h2>@Model.Given @Model.Surname</h2>
    </div>
    <div class="panel-footer">Created: @Model.Creation.ToString("D")</div>
</div>
<br />

@{
    if (Model.Phones.Any())
    {
        <div class="panel-group text-center">
            @foreach (var phone in Model.Phones)
            {
               
                    @Html.Partial("_ViewPhone", phone)
            }
        </div>
    }

    if (Model.Emails.Any())
    {
        <div class="panel-group text-center">
            @foreach (var email in Model.Emails)
            {
                if (email.Email == Model.AlterEmail.Email)
                {
                    @Html.Partial("_EditEmail", Model.AlterEmail)
                }
                else
                {
                    @Html.Partial("_ViewEmail", email)
                }

            }
        </div>
    }

    if (Model.Addresses.Any())
    {
        <div class="panel-group text-center">
            @foreach (var address in Model.Addresses)
            {
                @Html.Partial("_ViewAddress", address)
            }
        </div>
    }
}