@{
    ViewData["Title"] = "Customer Profile";
}
@model Hive_IT.Models.Customers.AddEditPhoneViewModel

<div class="clearfix">
    <br />
    <a class="btn btn-primary pull-left" asp-action="List">
        <span class="glyphicon glyphicon-arrow-left"></span> Return To List
    </a>
</div>

<div class="customer-profile">
    <div class="panel panel-info text-center">
        <div class=" panel-heading">
            <h2>@Model.Given @Model.Surname</h2>
        </div>
        <div class="panel-footer">Created: @Model.Creation.ToString("D")</div>
    </div>

    @{
        <div class="clearfix">
            <a class="btn btn-danger pull-right" asp-action="Profile" asp-route-id="@Model.CusId">
                <span class="glyphicon glyphicon-stop"></span> Cancel Edit
            </a>
        </div>
        if (Model.Phones.Any())
        {
            <div class="panel-group text-center">
                @foreach (var phone in Model.Phones)
                {
                    if (phone.PhoneId == Model.AlterPhone.PhoneId)
                    {
                        @Html.Partial("_EditPhone", Model.AlterPhone)
                    }
                    else
                    {
                        @Html.Partial("_ViewPhone", phone)
                    }

                }
            </div>
        }

        if (Model.Emails.Any())
        {
            <div class="panel-group text-center">
                @foreach (var email in Model.Emails)
                {
                    @Html.Partial("_ViewEmail", email)
                }
            </div>
        }

        if (Model.Addresses.Any())
        {
            <div class="panel-group text-center">
                @foreach (var address in Model.Addresses)
                {
                    @Html.Partial("_ViewAddress", address)
                }
            </div>
        }
    }
</div>
