@model List<Hive_IT.Models.Customers.ListedCustomerViewModel>

@{
    ViewData["Title"] = "List of Customers";
}

<h1 class="text-center">List of Customers</h1>
<div>
    <ul class="pager">
        @if (ViewBag.HasPrevious)
        {
            <li class="previous btn"><a href="@Url.Action("list", "customer", new {page = ViewBag.Prev, sorting = ViewBag.Sorting })">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Page</a></li>
        }
        @if (ViewBag.HasNext)
        {
            <li class="next btn"><a href="@Url.Action("list", "customer", new {page = ViewBag.Next, sorting = ViewBag.Sorting })">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Next Page</a></li>
        }
    </ul>   
</div>
<div class="sorting-buttons">
    <div class="clearfix pull-left">
        <p><b>Sort by: </b></p>
        @{
            var name = new string[] { "Given Name", "Surname" };

            for (int i = 0; i < 2; i++)
            {
                if (ViewBag.Sorting == i)
                {
                    <a class="btn btn-primary" style="border: 2px solid #031cbc"
                       href="@Url.Action("list", "customer", new { page = 0, sorting = i, num = ViewBag.Num})">@name[i]</a>
                }
                else
                {
                    <a class="btn btn-primary" href="@Url.Action("list", "customer", new { page = 0, sorting = i, num = ViewBag.Num})">@name[i]</a>
                }

            }
        }
    </div>

    <div class="clearfix pull-right">
        <p><b>Show how many per page?</b></p>

        @{
            for (int n = 5; n <= 15; n = n + 5)
            {
                if (ViewBag.Num == n)
                {
                    <a class="btn btn-default" style="border: 2px solid #808080"
                       href="@Url.Action("list", "customer", new { page = 0, sorting = ViewBag.Sorting, num = n})">@n</a>
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("list", "customer", new { page = 0, sorting = ViewBag.Sorting, num = n})">@n</a>
                }
            }
        }
    </div>

</div>
<div><br /></div>

<div class="clearfix">
    <table class="table text-center table-bordered col-xs-12">
        <thead>
            <tr>
                <th class="text-center"> Given Name </th>
                <th class="text-center"><a></a> Surname </th>
                <th class="text-center"> Date Created </th>
                <th class="text-center"> Email </th>
                <th class="text-center"> Phone </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Profile", "Customer", new {id = item.ItemID})"> @item.GivenName</a>
                    </td>
                    <td>
                        <a href="@Url.Action("Profile", "Customer", new {id = item.ItemID})"> @item.Surname</a>
                    </td>
                    <td>
                        @item.Created
                    </td>
                    <td>
                        @item.FirstEmail
                    </td>
                    <td>
                        @item.FirstPhone
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

<div class="col-xs-12">
   <br />
</div>
<a class="btn btn-success bottom-left" asp-action="Create">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Customer
</a>