@{
    ViewData["Title"] = "List";
}
@model IEnumerable<Hive_IT.Models.ListedUserViewModel>  

    <h1>List of Users</h1>
    <br />

    @{
        //TODO: figure out spacing between links
     }
<div class="pager">
    @if (ViewBag.HasPrevious)
    {
        <a href="@Url.Action("list", "account", new {page = ViewBag.Prev, sorting = ViewBag.Sorting })"
           class="btn btn-info">&lt; &lt; Previous Page</a>
    }
    @if (ViewBag.HasNext)
    {
        <a href="@Url.Action("list", "account", new {page = ViewBag.Next, sorting = ViewBag.Sorting })"
           class="btn btn-info">&gt; &gt; Next Page</a>
    }
 </div>
<div class="sorting-buttons">
    <p>Sort by: </p>
   @{ 
       var name = new string[] { "user name", "first name", "last name" };

       for (int i = 0; i <=2; i++)
       {
           if (ViewBag.Sorting == i)
           {
               <a class="btn btn-primary" style="border: 2px dashed black"
                  href="@Url.Action("list", "account", new { page = 0, sorting = i})">@name[i]</a>
           }
           else
           {
            <a class="btn btn-primary" href="@Url.Action("list", "account", new { page = 0, sorting = i})">@name[i]</a>
           }

       }
}    
</div><br />
<div class="user-list">
    <table class="table-striped table-bordered">
        <thead>
            <tr>
                <th > First Name</th>
                <th> Last Name</th>
                <th> User Name</th>
                <th> Name of Role</th>
                <th> Date Created</th>
                @if (User.IsInRole("Admin"))
                {
                    <th> Action</th>
                }                
            </tr>
        </thead>
        <tbody>
            @foreach(var listedItem in Model)
            {
                <tr>
                    <td><a href="@Url.Action("profile","account", new {id = listedItem.Username })"> @listedItem.First</a></td>
                    <td><a href="@Url.Action("profile","account", new {id = listedItem.Username })"> @listedItem.Last</a></td>
                    <td><a href="@Url.Action("profile","account", new {id = listedItem.Username })"> @listedItem.Username</a></td>
                    <td> @listedItem.Position</td>
                    <td> @listedItem.Created</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @{
                                //do not display deletion button if only 1 admin
                                if (listedItem.Position == "Admin")
                                {
                                    if (ViewBag.Count >= 2)
                                    {
                                        using (Html.BeginForm("delete", "account", new { id = listedItem.Username }))
                                        {
                                            <button type="submit" formnovalidate value="DELETE" class=" col-sm-12 btn-danger"
                                                    onclick="return confirm('Are you sure you want to delete this user?')">
                                                Delete User
                                            </button>
                                        }

                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("delete", "account", new { id = listedItem.Username }))
                                    {
                                        <button type="submit" formnovalidate value="DELETE" class=" col-sm-12 btn-danger"
                                                onclick="return confirm('Are you sure you want to delete this user?')">
                                            Delete User
                                        </button>
                                    }
                                }
                            }
                        </td>
                     }
                    
                </tr>
             }
        </tbody>
    </table>
</div>
<br />
@if(User.IsInRole("Admin")){
<br />
<a class="btn btn-success bottom-left" href="@Url.Action("register", "account")">+ Add a new User</a>
}
