@{
    ViewData["Title"] = "Profile";
}

@model Hive_IT.Models.UserViewModel
       
@if(Model.UserName.ToLower() == "defaultuser")
{
    <div class="default-warning">
        <p>Default user is only for setting up. Assign a new admin and then delete default ASAP!</p>
    </div>
}

<div class="profile">
    <div class="profile-content">
        <h1>@Model.FirstName @Model.LastName </h1>
        <br />

        <p>Username: @Model.UserName</p>
        <p>Position: @Model.Role</p>
        <p>Phone number: @Model.PhoneNumber</p>
        <p>Email Address: @Model.EmailAddress</p>
        <br />
        <p>Date Created: @Model.CreationDate</p>
    </div>    
    <br />
    
    @if (User.IsInRole("Admin"))
    {
        <br />

        @if (Model.UserName.ToLower() != "defaultuser")
        {
            <a class="btn btn-primary col-sm-2" href="@Url.Action("edit", "account", new { id =Model.UserName})">Edit</a>
        }

        
        if (Model.Role == "Admin")
        {
            if (ViewBag.Count >= 2)
            {
                @using (Html.BeginForm("delete", "account", new { id = Model.UserName }))
                {
                    <button value="Delete" formnovalidate class="btn btn-danger col-sm-2" onclick="return confirm('Are you sure you want to delete this user?')">Delete this user</button>
                }
            }
        }
        else
        {
            @using (Html.BeginForm("delete", "account", new { id = Model.UserName }))
            {
                <button value="Delete" formnovalidate class="btn btn-danger col-sm-2" onclick="return confirm('Are you sure you want to delete this user?')">Delete this user</button>
            }
        }
        

        <br /><br />

     }
    else if (User.Identity.Name == Model.UserName)
    {
        <br />

        @if (Model.UserName.ToLower() != "defaultuser")
        {
            <a class="btn btn-primary col-sm-2" href="@Url.Action("edit", "account", new { id =Model.UserName})">Edit</a>
        }

        <br /><br />
    }

</div>
