@{
    ViewData["Title"] = "Profile";
}

@model Hive_IT.Models.UserViewModel

<div class="profile">
    <div class="profile-content">
        <h1>@Model.FirstName @Model.LastName </h1>
        <br />

        <p>Username: @Model.UserName</p>
        <p>Position: @Model.Role</p>
        <p>Phone number: @Model.PhoneNumber</p>
        <p>Email Address: @Model.EmailAddress</p>
        <br />
        <p>Date Created: @Model.CreationDate</p>
    </div>    
    <br /><br />
   
    <a class="btn btn-primary col-sm-2" href="@Url.Action("edit", "account", new { id =Model.UserName})">Edit</a>
    
    @using (Html.BeginForm("delete", "account", new {id = Model.UserName})) {
    <button value="Delete" formnovalidate class="btn btn-danger col-sm-2" onclick="return confirm('Are you sure you want to delete this user?')" >Delete this user</button>
    }

    <br /><br />
</div>



