@model Hive_IT.Models.WorkOrders.OrderViewModel
@{
    ViewData["Title"] = "Work Order Details";
    //TODO: Figure out style of details page
}

<div class="text-center details-display">
    @if (User.IsInRole("Admin"))
    {
        <div class="clearfix pull-right">
            @using (Html.BeginForm("delete", "workorder", new { orderNumber = Model.OrderNumber }))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-delete col-xs-12" formnovalidate value="DELETE"
                        onclick="return confirm('Delete this order? This order and all devices will be lost forever!')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Order
                </button>
            }

        </div>
    }   
    <br />
    <div class="clearfix">
        <a class="btn btn-primary clearfix pull-left" asp-action="List">
            <span class="glyphicon glyphicon-arrow-left"></span> Return To List of Orders
        </a>
    </div>
    <div>
        <br />
    </div>
    <h1>Work Order: @Model.OrderNumber</h1><br />

    @if (Model.Status == "Complete" && !User.IsInRole("Admin"))
    {       
        <label asp-for="Status"></label>
        <input type="text"  class="text-center" disabled asp-for="Status" asp-items="@Model.StatusList" />
    }
    else
    {
        <form role="form" asp-action="Details">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@Model.StatusList"></select>
                <b>Last Updated &#64 </b>@Model.StatusChangedAt
            </div>
            
            @Html.Hidden("order", Model.OrderNumber)

            <button type="submit" class="btn btn-success btn-sm">Change Status</button>
        </form>        
    }
   
   
    <br />
    <a href="@Url.Action("Profile", "Customer", new {id= Model.CustomerID })">@Model.CustomerName</a>
    <p>Phone numbers: </p>
    @foreach (var phone in Model.Phones)
    {
        <p>@phone.PhoneNumber</p>
    }
    <p>Emails: </p>
    @foreach (var email in Model.Emails)
    {
        <p>@email.Email</p>
    }
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#Shipping">Show Shipping Information</button>
    
    <div><br /></div>

    <div id="Shipping" class="collapse" role="dialog">
        <div id="shipping-content">
            <div class="bg-info clearfix">
                @foreach (var address in Model.ShippingAddresses)
                {
                    <p class="col-xs-6"><b>St:</b> @address.StreetAddress</p>
                    <p class="col-xs-3"><b>City:</b> @address.City</p>
                    <p class="col-xs-3"><b>Prov/State:</b> @address.ProvState</p>
                    <p class="col-xs-6"><b>Country:</b> @address.Country</p>
                    <p class="col-xs-6"><b>Zip/Postal:</b> @address.Postal</p>
                }
            </div>
        </div>
    </div>
    <br /><hr />
    
    @foreach (var device in Model.LinkedDevices)
    {

        if (!User.IsInRole("Admin"))
        {
            if (Model.Status != "Complete" && device.Status != "Picked Up")
            {
                <div class="clearfix">
                    <a asp-action="Update" asp-route-deviceNumber="@device.DeviceId" class="btn btn-info pull-right">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update Device
                    </a>
                </div>
            }
            else
            {
                <div>
                    <br />
                </div>

            }
        }
        else
        {               
            <div class="clearfix">
                <a asp-action="Update" asp-route-deviceNumber="@device.DeviceId" class="btn btn-info pull-right">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update Device
                </a>
            </div>
         }


        <h2 style="display: inline-block">@device.Manufacturer @device.Model SN: @device.Serial</h2>
        <p><b>Status:</b> @device.Status <b>Last updated &#64 </b>@device.StatusLastUpdatedAt</p><br />
        <p>Password: @device.Password Provider: @device.Provider</p><br />
        <label asp-for="@device.Problem"></label>
        <textarea readonly class="col-xs-12 text-center" rows="3">@device.Problem</textarea>
        <br />
        <label asp-for="@device.Notes"></label>
        <textarea readonly class="col-xs-12 text-center" rows="5">@device.Notes</textarea>
        <div class="clearfix col-xs-12">
            <br /><hr />
        </div>

     }

    @if (!User.IsInRole("Admin") && Model.Status == "Complete")
    {
        <div class="clearfix">
            <br />
        </div>

    }
    else
    {
        <div class="clearfix">
            <br />
            <a href="@Url.Action("Add", "WorkOrder", new {order = Model.OrderNumber })" class="btn btn-success bottom">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a device to this workorder
            </a>
            <br />
        </div>
    }
</div>

