@model List<Hive_IT.Models.WorkOrders.HistoryViewModel>
@{
    ViewData["Title"] = "History";
}

<br />
<div class="clearfix">
    <a class="btn btn-primary clearfix pull-left" asp-action="Details" asp-route-order="@ViewBag.OrderNumber">
        <span class="glyphicon glyphicon-arrow-left"></span> Return To Details
    </a>
</div>
<h1 class="text-center" style="margin-bottom: 16px;">History</h1>
<ul class="list-group">
    @foreach (var history in Model)
    {
        if (history.ActionTaken == "DELETED DEVICE")
        {
            <li class="history-delete list-group-item text-center">
                <mark>@history.Username</mark> @history.ActionTaken <i>@history.DeviceSerialIdentifier</i> &#64 @history.TimeOfAction
            </li>
        }
        else if (history.ActionTaken == "Created Device" || history.ActionTaken == "Created Order and Device")
        {
            <li class="history-create list-group-item text-center">
                <mark>@history.Username</mark> @history.ActionTaken <i>@history.DeviceSerialIdentifier</i> &#64 @history.TimeOfAction
            </li>
        }
        else if (history.ActionTaken == "Updated Device Status" || history.ActionTaken == "Updated Status")
        {
            <li class="history-status-change list-group-item text-center">
                <mark>@history.Username</mark> @history.ActionTaken 
                @if(history.ActionTaken == "Updated Device Status")
                {
                    <b>for: </b> <i>@history.DeviceSerialIdentifier</i>
                }
                from <b style="color: darkblue">@history.FieldValueBefore</b> 
                to <b style="color: darkblue">@history.FieldValueAfter</b> &#64 @history.TimeOfAction
            </li>
        }
        else if (history.ActionTaken == "Added Service" || history.ActionTaken == "Removed Service")
        {
            <li class="history-service list-group-item text-center">
                <mark>@history.Username</mark> @history.ActionTaken
                @if (history.ActionTaken == "Added Service")
                {
                    <b style="color: green">@history.FieldValueAfter</b> 
                }
                else
                {
                    <b style="color: maroon">@history.FieldValueAfter</b> 
                }
                &#64 @history.TimeOfAction
            </li>            
        }
        else
        {
            <li class="history-update list-group-item text-center">
                <mark>@history.Username</mark> @history.ActionTaken
                for: <i>@history.DeviceSerialIdentifier</i>
                 from <b>@history.FieldValueBefore</b> to <b>@history.FieldValueAfter</b> &#64 @history.TimeOfAction
            </li>
        }
    }
</ul>

