@model Hive_IT.Models.WorkOrders.DeviceViewModel

@{
    ViewData["Title"] = "Update Device";
}

<fieldset>
    @if (User.IsInRole("Admin"))
    {
        <div class="clearfix pull-right">
            @using (Html.BeginForm("deletedevice", "workorder", new { deviceNumber = Model.DeviceNumber }))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-delete" formnovalidate value="DELETE"
                        onclick="return confirm('Delete this device? This will be lost forever!')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Device
                </button>
            }
        </div><br />
    }

    <h1 class="text-center">Update Device</h1>
    <br />

    <form role="form" asp-action="Update">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="Status"></label>
            <select asp-for="Status" asp-items="@Model.StatusList" class="form-control"></select>
        </div>
           
        <div class="form-group col-xs-6">
            <label asp-for="Manufacturer"></label>
            <select asp-for="Manufacturer" asp-items="@Model.Manufacturers" class="form-control"></select>
            <span asp-validation-for="Manufacturer" class="field-validation-error"></span>
        </div>

        <div class="form-group col-xs-6">
            <label asp-for="Model"></label>
            <select asp-for="Model" asp-items="@Model.Models" class="form-control"></select>
            <span asp-validation-for="Model" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Provider"></label>
            <input type="text" asp-for="Provider" class="form-control" />
            <span asp-validation-for="Provider" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Serial"></label>
            <input type="text" asp-for="Serial" class="form-control" />
            <span asp-validation-for="Serial" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Problem"></label>
            <textarea asp-for="Problem" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Problem" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Notes"></label>
            <textarea asp-for="Notes" class="form-control" rows="5"></textarea>
        </div>

        @Html.HiddenFor(model => model.StatusLastUpdatedAt)
        @Html.HiddenFor(model => model.DeviceNumber)
        @Html.HiddenFor(model => model.OrderNumber)
        @Html.Hidden("deviceNumber", Model.DeviceNumber)

        <div class="clearfix">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary pull-left"> Save Changes</button>

            <a class="btn btn-danger pull-right" href="@Url.Action("Details", "WorkOrder", new {order = Model.OrderNumber })">
                <span class="glyphicon glyphicon-stop"></span> Cancel
            </a>
        </div>
    </form>
</fieldset>